<!-- _includes/comment-form.html -->
<form method="POST" action="{{ site.staticman_url }}" class="comment-form">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />

  <textarea
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
  <div class="comment-bottom">
    <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />
    <button class="comment-submit" type="submit">SEND</button>
  </div>
</form>

<form class="comment-form" id="tn6uoxq7k">
  
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />

  <textarea
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
  <div class="comment-bottom">
    <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />
    <button class="comment-submit" type="submit">SEND</button>
  </div>
</form>
<script>
  const xxx=document.getElementById('tn6uoxq7k');
  // const yyy=document.getElementsByTagName('form');
  // console.log(yyy[0][2].value.length)
    xxx.addEventListener('submit', async function (e) {
      e.preventDefault(); // Prevent normal form submission
// console.log(this[2].value.length)
      try {
        // Collect form data
        // const formData = new FormData(this);
// console.log("All form entries:");
//       for (const [key, value] of formData.entries()) {
//         console.log(key, ":", value);
//       }
        // Send POST request
        const response = await fetch('{{ site.staticman_url }}', {
          method: 'POST',
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(new FormData(this)).toString()
          // headers: {
          //       "Content-Type": "application/x-www-form-urlencoded"
          //   },
          // body: formData
        });

        if (!response.ok) {
          throw new Error(`Server error: ${response.status}`);
        }

        const result = await response.text();
        alert(`Server says: ${result}`);
      } catch (error) {
        console.error('Error:', error);
        alert('Failed to send form.');
      }
    });
  </script>