<!-- _includes/comments.html -->
<section class="comments">
  {% if site.data.comments[page.slug] %}
  <div>
    <h2>Comments</h2>
    {% include comment-list.html %}
  </div>
  {% endif %}

  <div>
    <h2>Leave a Comment</h2>slug: {{page.slug}}
    {% include comment-form.html %}
  </div>
</section>
<script>
  const evtSource = new EventSource('{{ site.staticman_url }}/api/sse');
  // evtSource.addEventListener("commentCreated", (event) => {
  //   console.log('comment created')
  // });

  evtSource.onmessage = (event) => {
    console.log('comment created: '+event.data);
  };

evtSource.onerror = (err) => {
  if (evtSource.readyState === EventSource.CONNECTING) {
        console.warn('SSE reconnecting...');
    } else if (evtSource.readyState === EventSource.CLOSED) {
        console.error('SSE connection closed permanently.');
    } else {
        console.error('SSE error:', err);
    }
};
</script>