<!-- _includes/comments.html -->
<section class="comments">
  <form action="{{ site.staticman_url }}/api/handle/sse" id="e64EkjvcL">
    <button title="klicka här" type="submit">Hej</button>
  </form>
  {% if site.data.comments[page.slug] %}
  <div>
    <h2>Comments</h2>
    {% include comment-list.html %}
  </div>
  {% endif %}

  <div>
    <h2>Leave a Comment</h2>slug: {{page.slug}}
    {% include comment-form.html %}
  </div>
</section>
<script>
const yyy = document.getElementById('e64EkjvcL');
  // const yyy=document.getElementsByTagName('form');
  // console.log(yyy[0][2].value.length)
  // yyy.addEventListener('submit', async function (e) {
  //   e.preventDefault(); // Prevent normal form submission
  //   try {
  //     // Send POST request
  //     const response = await fetch('{{ site.staticman_url }}/api/handle/sse', {
  //       method: 'POST',
  //       headers: { "Content-Type": "application/x-www-form-urlencoded" },
  //       body: new URLSearchParams(new FormData(this)).toString()
  //     });
      
  //     if (response.ok) {
  //       // console.log('reload...')
  //       // location.reload(); // Refresh page
  //     }
  //     else {
  //       throw new Error(`Server error: ${response.status}`);
  //     }

  //     const result = await response.text();
  //     console.log(`Server says: ${result}`);
  //   } catch (error) {
  //     console.error('Error:', error);
  //     // alert('Failed to send form.');
  //   }
  // });

  const evtSource = new EventSource('{{ site.staticman_url }}/api/sse');
  evtSource.addEventListener("commentCreated", (event) => {
    console.log('refresh page')
    // location.reload(); // Refresh page
  });

  evtSource.onmessage = (event) => {
    console.log('comment created: ' + event.data + ', event: ' + event.origin + ', id: ' + event);
  };

  // evtSource.addEventListener('time-update', (e) => {
  //   console.log('Update:', e.data)
  // });

  evtSource.addEventListener('close', () => {
    console.log('closing...');
    evtSource.close();
  });

  evtSource.onerror = (err) => {
    if (evtSource.readyState === EventSource.CONNECTING) {
      console.warn('SSE reconnecting...');
    } else if (evtSource.readyState === EventSource.CLOSED) {
      console.error('SSE connection closed permanently.');
    } else {
      console.error('SSE error:', err);
    }
  };
</script>