<!-- _includes/comment-form.html -->
<!--<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />

  <textarea
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
  <div class="comment-bottom">
    <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />
    <button class="comment-submit" type="submit">SEND</button>
  </div>
</form>-->

<form class="comment-form" id="tn6uoxq7k">
  <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}" />
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <textarea class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)"
    required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required />
    <button class="comment-submit" type="submit">SEND</button>
    <!-- <wa-icon name="cog" animation="spin" label="Spinning Cog" style="font-size: 2rem;vertical-align: middle"></wa-icon> -->
  </div>
</form>
<script>
  const tn6uoxq7k = document.getElementById('tn6uoxq7k');
  tn6uoxq7k.addEventListener('submit', async function (e) {
    e.submitter.disabled = true;
    e.preventDefault(); // Prevent normal form submission
    try {
      // Send POST request
      const response = await fetch('{{ site.staticman_url }}/api/handle/form', {
        method: 'POST',
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams(new FormData(this)).toString()
      });

      console.log('Create comment requested');
      // Loop through all form elements and disable them
      Array.from(tn6uoxq7k.elements).forEach(el => el.disabled = true);
      if (response.ok) {
        console.log('Response is OK');
        ;// location.reload(); // Refresh page
        const element = document.createElement("wa-icon");
        element.setAttribute("name", "cog");
        element.setAttribute("animation", "spin");
        element.setAttribute("label", "Spinning Cog");
        element.setAttribute("style", "font-size:2rem;vertical-align:middle");
        Array.from(tn6uoxq7k.getElementsByTagName("button")).filter(item => item["type"] === "submit").forEach(e => e.after(element));
      }
      else {
        // Loop through all form elements and enable them
        Array.from(tn6uoxq7k.elements).forEach(el => el.disabled = false);
        throw new Error(`Server error: ${response.status}`);
      }

      const result = await response.text();
      console.log(`Server says: ${result}`);
    } catch (error) {
      console.error('Error:', error);
      // alert('Failed to send form.');
    }
  });
</script>