<h1>Kreditkort</h1>
<hr>
<div id="kreditkort">
    <style scoped>
    th.asc::after {
        content: '▲'; /* Up arrow */
        color: #000;
    }
    th.desc::after {
        content: '▼'; /* Down arrow */
        color: #000;
    }
    </style>
<!-- <table>
    <thead><tr><th>Bank</th><th>Räntefritt</th></tr></thead>
    <tbody>
        <tr><td>Klarna</td><td>33</td></tr>
        <tr><td>Morrow</td><td>34</td></tr>
        <tr><td>Northmill</td><td>25</td></tr>
</tbody>
</table> -->
    <table>
    <thead><tr><th>Bank</th><th title="Räntefria dagar">Räntefritt</th><th>Påminnelseavgift</th><th title="Nominell ränta">Ränta</th><th>Valutapåslag</th></tr></thead>
    <tbody>
    {% for card in site.data.kreditkort %}
    <tr><td>{{ card.bank }}</td><td>{{ card.rantefritt }}</td><td>{{ card.paminnelseavgift }}</td><td>{{ card.nominellRanta }}</td><td>{{ card.valutapaslag }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<script>
    const script = document.createElement('script');
    script.innerHTML = `let div=document.getElementById('kreditkort');
    const tbls=div.getElementsByTagName('table');
    const tableHead=tbls[0].getElementsByTagName('thead')[0];
    for(let i=0;i<tableHead.rows.length;i++){
    const ths=tableHead.rows[i].getElementsByTagName('th');
    const thsColor = ths[0].style.color;
    for(let j=0;j<ths.length;j++){
    ths[j].sort=1;
    ths[j].classList.toggle("asc");
    ths[j].style.cursor='pointer';
    ths[j].addEventListener('click',(e)=>{
        for(let k=0;k<ths.length;k++)ths[k].style.color=thsColor;
        e.currentTarget.style.color='yellow';
        rws.sort((a,b)=> {
        if(e.currentTarget.sort>0){
            const tmp=a;
            a=b;
            b=tmp;
        }
            

        const txt1 = a.cells[e.currentTarget.cellIndex].innerText;
        const txt2 = b.cells[e.currentTarget.cellIndex].innerText;
        const res = txt1.localeCompare(txt2);
        return res;
        });

        e.currentTarget.sort=(-1)*e.currentTarget.sort
        if(e.currentTarget.sort===0){
            e.currentTarget.classList.remove("asc", "desc");
        }
        else{
            e.currentTarget.classList.toggle("asc");
            e.currentTarget.classList.toggle("desc");
        }
            
        while(0<tbodyRef.rows.length)tbodyRef.rows[0].remove();
        for(let i=0;i<rws.length;i++){
            const newRow = tbodyRef.insertRow();
            for(let j=0;j<ths.length;j++){
                const cell1 = newRow.insertCell(j);
                cell1.textContent = rws[i].cells[j].innerText;
            }
        }
    });
    }
    }
    
    const tbodyRef=tbls[0].getElementsByTagName('tbody')[0];
    let rws=[...tbodyRef.rows];
    `
document.body.appendChild(script);
</script>